<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.com.shop.vo.Member" alias="Member" />
		<typeAlias type="kr.com.shop.vo.Product" alias="Product" />
	</typeAliases>
	<mappers>
		<mapper resource="memberMapper.xml" />
		<mapper resource="productMapper.xml" />
	</mappers>
</configuration>    
